*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: #171717;
}

.header{
    padding-top: 37px;
    margin-bottom: 94px;
}

.title-style{
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
}

.first-paragraph{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.title-content{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    width: 1182px;
    margin-bottom: 41px;
}

.container{
    max-width: 1480px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.telephone-header{
    border: 1px solid #E4B564;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    height: 50px;
}

.telephone-text{
    color: #E4B564;
    padding-left: 8px;
}

.first-paragraph-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 219px);
    gap: 20px;
    grid-template-areas: 
    "first first second second third third"
    "first first second second third third"
    "fourth fourth fourth fivth fivth fivth"
    "fourth fourth fourth fivth fivth fivth"
    ;
}


.background-content{
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 44px;
}

.first-card{
    grid-area: first;
    background: #634F2C;
}

.second-card{
    grid-area: second;
    background: #B4A385;
}

.third-card{
    grid-area: third;
    background: #E4B564;
}

.fourth-card{
    grid-area: fourth;
    background: #635A4A;
}

.fivth-card{
    grid-area: fivth;
    background: #B08C4D;
}
/* Second paragraph start*/
.second-paragraph{
    margin-top: 156px;
}

.second-paragraph-content{
    margin-top: 94px;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(10, 3.71875em);
    gap: 20px;
    grid-template-areas: 
    "box1 box1 box2 box2 box3 box3"
    "box1 box1 box2 box2 box3 box3"
    "box1 box1 box2 box2 box3 box3"
    "box1 box1 box2 box2 box6 box6"
    "box4 box4 box2 box2 box6 box6"
    "box4 box4 box5 box5 box6 box6"
    "box4 box4 box5 box5 box6 box6"
    "box4 box4 box5 box5 box7 box7"
    "box4 box4 box5 box5 box7 box7"
    "box4 box4 box5 box5 box7 box7";
}

.second-background-content{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    grid: flex;
    padding: 30px;
    gap: 30px;
}

.first-card-second{
    grid-area: box1;
    background: #0E0E0E;
    padding: 30px 160px 0 30px;
}

.second-card-second{
    grid-area: box2;
    background: #242424;
    padding: 30px 140px 0 30px;
}

.third-card-second{
    grid-area: box3;
    background: #1F1F1F;
}

.fourth-card-second{
    grid-area: box4;
    background: #1F1F1F;
}

.fivth-card-second{
    grid-area: box5;
    background: #E4B564;
}

.sixth-card-second{
    grid-area: box6;
    background: #0E0E0E;
}

.seventh-card-second{
    grid-area: box7;
    background: #0A0909;
}

.second-span{
    color: #FFF;
font-size: 20px;
font-weight: 700;
flex-direction: column;
}

.style-black{
    color: #000;
}
/*End of second paragraph*/

/*Start of third paragraph*/
.footer{
    background: #0E0E0E;
    margin-top: 172px;
}
.third-paragraph{
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
}

.third-paragraph-contact{
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #E4B564;
    text-align: center;
    padding: 10px 40px;
}

.wrapper-third{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    margin-bottom: 237px;
}

.third-paragraph-text{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}

.third-content{
    display: flex;
    width: 486.6667px;
    height: 391px;
    justify-content: center;
    align-items: center;
}

.third-content-1{
    background: #634F2C;
}

.third-content-2{
    flex-direction: column;
    background: rgba(232, 210, 171, 0.76);
}

.third-content-3{
    background: #E4B564;
}

.third-content-4{
    flex-direction: column;
    background: #635A4A;
}

.third-content-5{
    background: #B08C4D;
}

.third-content-6{
    background: #634F2C;
}